streamlit -q
shap
leafmap
apt install gdal-bin python-gdal python3-gdal
apt install python3-rtree
git+git://github.com/geopandas/geopandas.git
descartes
geopandas
keplergl
lime
dice-ml
dill
